body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    color: #383838;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #dfdfdf;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

img {
    max-width: 100%;
}

h1 {
    font-family: cursive;
    color: #000000;
    margin-bottom: 20px;
}

.quiz-section {
    margin-bottom: 20px;
}

select,
button {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background-color: #e20909;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

p {
    margin-top: 10px;
    font-size: 16px;
    color: #585858;
}