body{
    background-color: rgba(240, 128, 128, 0.61);
}

body .btn{
    margin-top: -15px;
    margin-left: 47%;
    background-color: rgba(0, 0, 0, 0.596);
    color: white;
    padding: 50px;

}

body .btn2{
    display: block;
    margin-top: 2%;
    margin-left: 48%;
    background-color: rgba(0, 0, 0, 0.596);
    color: white;
}
body h1{
    text-align: center;
}

body img.gif{
    display: block;
    margin-top: 20px;
    margin-left: 40%;
    margin: auto;
}