body {
    background-color: rgba(240, 128, 128, 0.61);
}

body .btn {
    margin-top: 2%;
    margin-left: 49%;
    background-color: rgba(0, 0, 0, 0.596);
    color: white;
    display: block;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

body .btn2 {
    margin-top: 2%;
    margin-left: 49%;
    background-color: rgba(0, 0, 0, 0.596);
    color: white;
}

body h1 {
    text-align: center;
}

body img.gif {
    display: block;
    margin-top: 50%;
    margin-left: 40%;
    margin: auto;
}
