@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@font-face {
    font-family:'kings';
    src: url('fontes/Love.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: rgb(142, 167, 167);
    
    font-size: 16px;
}

h1{
    font-family: 'kings';
    color: blueviolet;
    text-align: center;
}

h1#principal{
    color: chartreuse;
}
p{
    text-align: justify;
    color: brown;
    font-weight: bold;
}

.outra{

    color: blueviolet;
}
.teste{
    font-weight: bold;
    color: black;
}

